.texto-login{
    font-weight: bold;
    color: #A8443A;
}

.texto{
    color: #665544;
}

.text-decorator-none{
    text-decoration: none;
}

.imagem{
    background-image: url(https://pbs.twimg.com/media/E9RxE_EXMAQQkZ9.jpg);
    background-repeat: no-repeat; 
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.box-login{
    background-color: #E8D3B6;
}

.botao-logar{
    background-color: #665544 !important;
    color: #E8D3B6 !important;
}
